* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 450px;
}

body {
  color: #000;
  line-height: 1;
  font-family: sans-serif;
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

[class*=__container] {
  max-width: 89.5rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0;
}
@media (min-width: 90.625em) {
  [class*=__container] {
    padding-left: 2rem;
  }
}
@media (min-width: 28.125em) and (max-width: 90.625em) {
  [class*=__container] {
    padding-left: clamp( 1.25rem , 0.9125rem  +  1.2vw , 2rem );
  }
}
@media (max-width: 28.125em) {
  [class*=__container] {
    padding-left: 1.25rem;
  }
}
@media (min-width: 90.625em) {
  [class*=__container] {
    padding-right: 2rem;
  }
}
@media (min-width: 28.125em) and (max-width: 90.625em) {
  [class*=__container] {
    padding-right: clamp( 1.25rem , 0.9125rem  +  1.2vw , 2rem );
  }
}
@media (max-width: 28.125em) {
  [class*=__container] {
    padding-right: 1.25rem;
  }
}

.btn {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.4285714286;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 0.875rem 1.25rem;
  border-radius: 4px;
  max-width: 200px;
  width: 100%;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}
.btn:focus {
  border: 4px solid #549de7;
}
.btn:hover {
  background: #EEF4FA;
  color: #3078C0;
  border: 1px solid #3078C0;
}

.btn-fill {
  background: #3078c0;
  margin-right: 20px;
}
.btn-fill:active {
  background: #1660aa;
}
.btn-fill.disable {
  background: #B0B0B0;
}
.btn-fill.disable:focus {
  border: none;
}

.btn-outline {
  color: #3078c0;
  background: #eef4fa;
  border: 1px solid #3078c0;
}
.btn-outline:hover {
  background-color: #3078c0;
  color: #FFF;
}
.btn-outline:active {
  color: #1660aa;
  border: 1px solid #1660aa;
}
.btn-outline.disable {
  color: #b0b0b0;
  background: #f7f7f7;
  border: 1px solid #b0b0b0;
}

.content-header {
  display: block;
  padding-bottom: 1.5rem;
  background-color: #fff;
}

.title {
  font-family: "Golos", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 1.3333333333;
  color: #000000;
}
@media (max-width: 48.06125em) {
  .title {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.5;
  }
}

.content-title {
  margin-bottom: 2.5rem;
  margin-top: 4rem;
}

.content-links {
  display: flex;
  align-items: center;
  gap: 1.875rem;
}
@media (max-width: 29.99875em) {
  .content-links {
    flex-wrap: wrap;
  }
  .content-links .filters-button {
    width: 100%;
    justify-content: center;
  }
}
.content-links .content-link {
  display: flex;
  gap: 0.625rem;
  max-width: 225px;
}

.content-links .content-link svg {
  transition: filter .3s;
}

.content-links .content-link:hover svg {
  filter: grayscale(1) brightness(2.5);
}
@media (max-width: 29.99875em) {
  .content-links .content-link p {
    display: none;
  }
}

.links-wrapper {
  display: flex;
  gap: 1.875rem;
}
@media (max-width: 48.06125em) {
  .links-wrapper {
    flex-direction: column;
    gap: 0.625rem;
  }
}
.links-wrapper a {
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.4285714286;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #3078c0;
}
.links-wrapper a:hover {
  opacity: 0.9;
}

.filters-button {
  background: #eef4fa;
  border-radius: 4px;
  padding: 0.875rem 0.9375rem;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.4285714286;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #191919;
  display: flex;
  align-items: center;
  margin-left: auto;
}
.filters-button svg {
  margin-left: 0.625rem;
  transform: rotate(180deg);
  transition: all 0.3s ease-in-out;
}
.filters-button:hover {
  opacity: 0.9;
}

.filters-inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 32px;
  grid-row-gap: 20px;
  background: #eef4fa;
  border: 1px solid #dde7f0;
  border-radius: 4px;
  margin-top: 2.5rem;
  padding: 2.5rem;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; */
  height: 100%;
  transition: all 0.5s ease-in-out;
}

.filter-select {
  background: #ffffff;
  border: 1px solid #dde7f0;
  border-radius: 4px;
  padding: 0.75rem 0.9375rem;
  margin-top: auto;
  height: 3.3rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: #888888;
  transition: opacity .3s;
}
@media (max-width: 61.99875em) {
  .filter-select {
    flex: 1 1 250px;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.filter-range {
  flex: 1 1 340px;
}
@media (max-width: 61.99875em) {
  .filter-range {
    flex: 1 1 250px;
  }
}
.filter-range__title {
  font-family: "Golos", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: #333333;
  margin-bottom: 0.625rem;
}
.filter-range__inputs {
  display: flex;
}
.filter-range__label {
  display: flex;
  align-items: center;
  flex-grow: 1;
  border: 1px solid #dde7f0;
  background: #ffffff;
  border-radius: 4px;
  padding: 0.9375rem;
  padding-top: 0.9625rem;
  width: 50%;
}
.filter-range__label:nth-child(1) {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: none;
}
.filter-range__label:nth-child(2) {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: none;
  justify-content: flex-end;
}
.filter-range__text {
  font-family: "Golos", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  color: #333333;
}
.filter-range__text:first-child {
  margin-right: 3px;
}
.filter-range__text:last-child {
  margin-left: 3px;
}
.filter-range__input {
  font-family: "Golos", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  color: #333333;
}
/* .filter-range__slider {
  margin-bottom: 1.25rem;
} */

.filter-buttons {
  display: flex;
  align-items: center;
  margin-top: 20px;
  grid-column-start: 1;
}

.noUi-connect {
  background-color: #5d71dd;
}

.noUi-target {
  background-color: #bfbfbf;
  border: none;
  border-radius: 100px;
  box-shadow: none;
  height: 3px;
}

.noUi-handle::after,
.noUi-handle::before {
  display: none;
}

.noUi-handle {
  box-shadow: none;
  border-radius: 100%;
  background-color: #fff;
  border: 4px solid #3078C0;
}

.noUi-connect {
  background-color: #3078C0;
}

.noUi-handle.noUi-handle-lower {
  right: -16px;
}

.noUi-horizontal .noUi-handle {
  width: 16px;
  height: 16px;
  top: -7px;
}

.noUi-horizontal .noUi-handle-upper {
  right: 0;
}

.content-header.deactivate .filters-inner {
  height: 0;
  opacity: 0;
  visibility: hidden;
  border: none;
  padding: 0;
  margin: 0;
}
.content-header.deactivate .filters-inner * {
  opacity: 0;
}
.content-header.deactivate .filters-button svg {
  transform: rotate(0deg) translateY(2px);
}

.participants__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 32px;
  grid-row-gap: 30px;
}
.participants__card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ededed;
  border-radius: 4px;
  width: 100%;
  transition: box-shadow .3s;
  position: relative;
}
.participants__card-top {
  padding-bottom: 0.9375rem;
  background: #ffffff;
  overflow: hidden;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  z-index: 3;
}
.participants__card._showmore-active {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.12);
}
.participants__card:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.12);
}
.participants__card-bottom {
  display: flex;
  flex-direction: column;
  background: #fff;
  width: 100%;
  flex: 1 0 auto;
  background: #ffffff;
  transition: all 0.3s;
}
.active .participants__card-bottom {
  /* bottom: -213px;
  z-index: 4; */
  height: auto;
}
.participants__card-image img {
  -o-object-fit: cover;
     object-fit: cover;
}
.participants__card-title {
  font-family: "Golos", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5;
  color: #191919;
  padding: 0 1.25rem;
  margin: 1.875rem 0 1.5625rem;
}
.participants__card-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 0 1.25rem;
  background-color: #fff;
}
.participants__item-text {
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
  flex: 1 1 190px;
}

[data-showmore-button] span:last-child {
  display: none;
}

._showmore-active [data-showmore-button] span {
  display: none;
}

._showmore-active [data-showmore-button] span:last-child {
  display: block;
}

.block__more {
  font-family: "Golos", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  /* identical to box height, or 143% */
  letter-spacing: 0.01em;
  text-transform: uppercase;
  margin-left: 1.25rem;
  margin-bottom: 1.875rem;
  margin-top: auto;
  padding-top: 1.5rem;
  color: #3078c0;
}/*# sourceMappingURL=style.css.map */