@use "sass:math";

.btn {
  font-weight: 500;
  font-size: rem(14);
  line-height: math.div(20, 14);
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #ffffff;
  padding: rem(14) rem(20);
  border-radius: 4px;
  transition: all 0.2s ease;
  &:focus {
    border: 4px solid #549de7;
  }
  &:hover {
    opacity: 0.9;
  }
}

.btn-fill {
  background: #3078c0;
  &:active {
    background: #1660aa;
  }
  &.disable {
    background: #B0B0B0;
    &:focus {
        border: none;
      }
  }
  
}

.btn-outline {
  color: #3078c0;
  background: #eef4fa;
  border: 1px solid #3078c0;
  &:active {
    color: #1660aa;
    border: 1px solid #1660aa;
  }
  &.disable {
    color: #b0b0b0;
    background: #f7f7f7;
    border: 1px solid #b0b0b0;
  }
}
